@charset "UFT-8";

@media  screen and (600px <= width <=1000px) {
    header{
        background-image:url(../assets/images/background-pattern-desktop.svg);
        transition: all ease-in-out 2s;
    }
    .faqs{
        width: 76%;
        transition: all ease-in-out 2s;

    }
    .questions{
        grid-template-columns: 90% 10%;
        transition: all ease-in-out 2s;
    }
}

@media screen and (1001px <= width){
    header{
        background-image:url(../assets/images/background-pattern-desktop.svg);
        transition: all ease-in-out 2s;
    }
    .faqs{
        width: 56%;
        transition: all ease-in-out 2s;

    }
    .questions{
        grid-template-columns: 90% 10%;
        transition: all ease-in-out 2s;
    }
}